@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'jsdanger';
  src: url('/assets/webfont.woff2') format('woff2'), url('/assets/webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.root.jsDanger:before {
  background: url(/assets/jsparty-abstract-art.svg) no-repeat;
}

.root.goPanic:before {
  background: url(/assets/gotime-abstract-art.svg) no-repeat;
}

/* Put your styles and imports here */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
